@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer utilities {
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .animation-delay-10000 {
    animation-delay: 10s;
  }
  .animation-delay-15000 {
    animation-delay: 15s;
  }
  .animation-delay-6000 {
    animation-delay: 5s;
  }
  .animation-delay-12000 {
    animation-delay: 10s;
  }
  .animation-delay-18000 {
    animation-delay: 15s;
  }
  .animation-delay-20000 {
    animation-delay: -2s;
  }
  .animation-delay-i1 {
    animation-delay: calc(18s / 4 * (4 - 1) * -1);
  }
  .animation-delay-i2 {
    animation-delay: calc(18s / 4 * (4 - 2) * -1);
  }
  .animation-delay-i3 {
    animation-delay: calc(18s / 4 * (4 - 3) * -1);
  }
  .animation-delay-i4 {
    animation-delay: calc(18s / 4 * (4 - 4) * -1);
  }
}

@layer base {
  @font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-VariableFont.wght.ttf") format("ttf");
  }
}
