@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .animation-delay-10000 {
    animation-delay: 10s;
  }
  .animation-delay-15000 {
    animation-delay: 15s;
  }
  .animation-delay-6000 {
    animation-delay: 5s;
  }
  .animation-delay-12000 {
    animation-delay: 10s;
  }
  .animation-delay-18000 {
    animation-delay: 15s;
  }
}
