<div class="aspect-auto size-full bg-gray-200" id="">
  <div
    class="m-auto mt-4 grid w-5/6 grid-cols-2 justify-evenly gap-4 bg-blue-500"
  >
    <container
      class="group h-96 rounded-lg bg-slate-500/50 px-1 duration-150 hover:-translate-y-1"
    >
      <a class="grid grid-rows-3" href="">
        <div
          class="m-auto h-64 rounded bg-[url('People/girl1.webp')] bg-cover py-4"
        ></div>
        <h3
          class="text-2xl font-extrabold text-slate-200 group-hover:underline"
        ></h3>
        <p class="text-slate-400"></p>
      </a>
    </container>

    <container
      class="group h-96 rounded-lg bg-slate-500/50 px-1 duration-150 hover:-translate-y-1"
    >
      <a class="grid grid-rows-3" href="">
        <img
          class="m-auto rounded py-4"
          src="/assets/People/girl1.webp"
          alt=""
        />
        <h3
          class="text-2xl font-extrabold text-slate-200 group-hover:underline"
        ></h3>
        <p class="text-slate-400"></p>
      </a>
    </container>
  </div>
</div>
