<nav
  class="relative -mt-28 mb-8 ml-1 mr-4 flex h-80 flex-col rounded-lg border-t-4 border-t-slate-800/30 bg-slate-800/5 bg-opacity-20 bg-gradient-to-b from-slate-700/5 via-slate-500/5 sm:ml-32 sm:mt-0 sm:hidden"
  id="scenery"
>
  <a href="#scenery" class="absolute grid gap-1 sm:justify-items-end">
    <h1
      class="ml-12 mr-8 w-fit place-content-end px-2 pr-8 pt-2 text-xl font-semibold uppercase text-slate-300"
    >
      Scenery
    </h1>
  </a>
  <div
    class="align-items-center m-auto mx-4 grid size-64 w-full grid-cols-1 gap-2 p-4 px-3 py-4 md:grid-cols-4"
  >
    <div
      class="animate-slideshow-medium absolute h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] bg-cover opacity-0 shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-slideshow-medium animation-delay-6000 absolute h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/IMG_20181207_094241_039.jpg')] opacity-0 shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-slideshow-medium animation-delay-12000 absolute h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] opacity-0 shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-slideshow-medium animation-delay-18000 absolute h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/licensed-image.jpg')] opacity-0 shadow-md shadow-slate-950/20"
    ></div>
  </div>
</nav>
