<div class="relative h-72 overflow-auto">
  <div class="absolute flex w-full snap-x gap-2 overflow-x-auto">
    <div
      class="h-64 w-72 shrink-0 snap-center rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-slate-950/20 first:pl-1 last:pr-1"
    ></div>
    <div
      class="h-64 w-72 shrink-0 snap-center rounded-lg bg-slate-500 bg-[url('Scenery/IMG_20181207_094241_039.jpg')] shadow-md shadow-slate-950/20 first:pl-1 last:pr-1"
    ></div>
    <div
      class="h-64 w-72 shrink-0 snap-center rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-slate-950/20 first:pl-1 last:pr-1"
    ></div>
    <div
      class="h-64 w-72 shrink-0 snap-center rounded-lg bg-slate-500 bg-[url('Scenery/licensed-image.jpg')] shadow-md shadow-slate-950/20 first:pl-1 last:pr-1"
    ></div>
  </div>
</div>
