{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Articles - halle{% endblock title %}

{% block content %}
<div class="aspect-auto size-full flex flex-row gap-4" id="">
   <div
    class="ml-6 mt-2 mb-2 aspect-auto w-8/12 rounded-md bg-slate-800/20 ring-1 ring-inset ring-slate-200/5 drop-shadow-md backdrop-blur"
    id=""
  ></div>

<div
    class="mr-6 mt-6 aspect-auto w-4/12 h-3/5 rounded-lg bg-slate-800/10 ring-1 ring-inset ring-slate-200/5 drop-shadow-md backdrop-blur"
    id=""
  ></div>

</div>
{% endblock content %}
