{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Articles - halle{% endblock title %}


{% block sidebar %}
    <a
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Interests
    </a>

    <a
      aria-pressed="true"
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-slate-200 aria-pressed:text-slate-300 aria-pressed:hover:text-slate-300"
    >
      Articles
    </a>

    <a
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      History
    </a>
{% endblock sidebar %}

{% block content %}
<div class="aspect-auto size-fit lg:size-full" id="">
  <div
    class="m-auto mt-4 flex w-5/6 flex-col sm:flex-row justify-evenly gap-4"
    id=""
  >
    <article
      class="h-64 w-[296px] flex-none rounded-lg bg-slate-500/5 px-1 duration-150 hover:-translate-y-1"
    >
      <a href="/articles/article1">
        <div class="grid grid-cols-2 justify-between">
          <time
            class="text-slate-400"
            datetime="
            datetime_date"
            >12 May, 2024</time
          >
          <div class="size-fit rounded-3xl bg-slate-200 px-3 text-slate-800">
            Rust
          </div>
        </div>
        <div class="grid grid-rows-2 group gap-6" id="">
          <h3 class="text-2xl font-extrabold text-slate-200 group-hover:underline">
            Learning rust web development wth axum, htmx and tailwind
          </h3>
          <p class="text-slate-400">
            With so much of the world wide web dependant on javascript...
          </p>
        </div>
      </a>
    </article>

    <article
      class="h-64 w-[296px] flex-none rounded-lg bg-slate-500/5 px-1 duration-150 hover:-translate-y-1"
    >
      <a href="">
        <div class="grid grid-cols-2 justify-between">
          <time
            class="text-slate-400"
            datetime="
            datetime_date"
            >12 May, 2024</time
          >
          <div class="size-fit rounded-3xl bg-slate-200 px-3 text-slate-800">
            Rust
          </div>
        </div>
        <div class="grid grid-rows-2 group gap-6" id="">
          <h3 class="text-2xl font-extrabold text-slate-200 group-hover:underline">
            Learning rust web development wth axum, htmx and tailwind
          </h3>
          <p class="text-slate-400">
            With so much of the world wide web dependant on javascript...
          </p>
        </div>
      </a>
    </article>

    <article
      class="h-64 w-[296px] flex-none rounded-lg bg-slate-500/5 px-1 duration-150 hover:-translate-y-1"
    >
      <a href="">
        <div class="grid grid-cols-2 justify-between">
          <time
            class="text-slate-400"
            datetime="
            datetime_date"
            >12 May, 2024</time
          >
          <div class="size-fit rounded-3xl bg-slate-200 px-3 text-slate-800">
            Rust
          </div>
        </div>
        <div class="grid grid-rows-2 group gap-6" id="">
          <h3 class="text-2xl font-extrabold text-slate-200 group-hover:underline">
            Learning rust web development wth axum, htmx and tailwind
          </h3>
          <p class="text-slate-400">
            With so much of the world wide web dependant on javascript...
          </p>
        </div>
      </a>
    </article>
  </div>
</div>
{% endblock content %}
