{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Blog - halle{% endblock title %}

{% block top_bar_nav %}
<ul class="flex items-center gap-x-8 pr-8">
  <a
    href="/events"
    class="-mx-3 size-fit px-3 opacity-65 hover:rounded-3xl hover:bg-slate-200 hover:text-slate-800 hover:opacity-100"
  >
    <span>Events</span>
  </a>
  <a
    aria-pressed="true"
    href="/blog"
    class="-mx-3 size-fit px-3 aria-pressed:border-b-2 aria-pressed:border-b-blue-600"
  >
    <span>Blog</span>
  </a>
</ul>
{% endblock top_bar_nav %}

{% block content %}
<div
  class="mt-4 grid aspect-auto size-full place-items-center rounded-sm bg-red-500"
>
  <div
    class="relative grid h-72 w-[40rem] place-items-end overflow-hidden rounded-sm bg-emerald-600"
  >
    <div
      class="absolute m-auto mr-2 mt-2 h-[200px] w-72 rounded-t-sm bg-gray-600/80 text-xl text-blue-500"
    >
      Hello
    </div>
    <div class="absolute grid h-52 w-72 rounded-t-sm bg-blue-400">
      <div class="h-20 rounded-t-sm bg-yellow-500"></div>
      <div class="h-32 bg-pink-500">World</div>
    </div>
  </div>
</div>
{% endblock content %}
