{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Blog - halle{% endblock title %}

{% block content %}
<div
  class="mt-4 grid aspect-auto size-full place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto w-3/4 text-xl text-blue-500">
    Hi there my name is Sandiso Dlamini. I'm a self-taught rust and python
    programmer currently focused on building functional and practically
    applicable webapps using various technologies including python(Django and
    Flask), axum(rust), tailwind and htmx.
  </div>
</div>{% endblock content %}
