{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Events in Eswatini - halle{% endblock title %}

{% block hamburger_menu %}
  <a
    aria-pressed="true"
    href="/events"
    class="ml-3 pr-3 block text-slate-700 dark:text-slate-200 size-fit aria-pressed:border-b-2 aria-pressed:border-b-blue-600"
  >
    <span>Events</span>
  </a>
  <a
    href="/blog"
    class="block text-slate-700 dark:text-slate-200 size-fit px-3 opacity-75 dark:opacity-65 hover:rounded-3xl hover:bg-slate-700 hover:text-slate-200 dark:hover:bg-slate-200 dark:hover:text-slate-800 hover:opacity-100"
  >
    <span>Blog</span>
  </a>
{% endblock hamburger_menu %}


{% block top_bar_nav %}
  <a
    aria-pressed="true"
    href="/events"
    class="-mx-3 size-fit px-3 aria-pressed:border-b-2 aria-pressed:border-b-blue-600"
  >
    <span>Events</span>
  </a>
  <a
    href="/blog"
    class="-mx-3 size-fit px-3 opacity-70 dark:opacity-65 hover:rounded-3xl hover:bg-slate-700 hover:text-slate-200 dark:hover:bg-slate-200 dark:hover:text-slate-800 hover:opacity-100"
  >
    <span>Blog</span>
  </a>
{% endblock top_bar_nav %}

{% block content %}

<h1 class="my-2 ml-4 text-3xl text-yellow-500 dark:text-yellow-100 font-extrabold">Events</h1>

<div
  class="lg:mt-4 grid aspect-auto h-screen size-full lg:place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto mx-1 text-2xl text-yellow-600 dark:text-slate-200">
    There are currently no
    <span
      class="bg-violet-800 bg-gradient-to-bl from-blue-800 via-purple-800 bg-clip-text text-transparent selection:text-white"
      >events</span
    >. They're coming soon though 🙃!!
  </div>
</div>
{% endblock content %}
