{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Events in Eswatini - halle{% endblock title %}

{% block content %}
<div
  class="mt-4 grid aspect-auto size-full place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto text-2xl text-slate-200">
    There are currently no
    <span
      class="bg-violet-800 bg-gradient-to-bl from-blue-800 via-purple-800 bg-clip-text text-transparent selection:text-white"
      >events</span
    >. They're coming soon though 🙃!!
  </div>
</div>
{% endblock content %}
