{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}History of Eswatini - halle{% endblock title %}

{% block sidebar %}
    <a
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-200"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-100 "
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-100 "
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-600 dark:hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Articles
    </a>

    <a
      aria-pressed="true"
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-yellow-200 aria-pressed:text-slate-900 aria-pressed:hover:text-slate-800 aria-pressed:dark:text-slate-300 aria-pressed:dark:hover:text-slate-200"
    >
      History
    </a>
{% endblock sidebar %}

{% block sidebar2 %}
    <a
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-200"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-100 "
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-yellow-600 dark:hover:text-slate-100 "
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-800/95 dark:text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-600 dark:hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Articles
    </a>

    <a
      aria-pressed="true"
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-yellow-200 aria-pressed:text-slate-900 aria-pressed:hover:text-slate-800 aria-pressed:dark:text-slate-300 aria-pressed:dark:hover:text-slate-200"
    >
      History
    </a>
{% endblock sidebar2 %}

{% block content %}

<h1 class="my-2 ml-4 text-3xl text-yellow-400 dark:text-yellow-100 font-rubik-semibold font-extrabold">History</h1>

<div
  class="lg:mt-4 grid aspect-auto h-screen w-full md:size-full place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto mx-1 text-2xl text-yellow-500 dark:text-yellow-200">
    There are currently no
    <span
      class="bg-violet-800 bg-gradient-to-bl from-blue-800 via-purple-800 bg-clip-text text-transparent selection:text-white"
      >history articles</span
    >. They're coming soon though 😪!!
  </div>
</div>
{% endblock content %}
