{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}History of Eswatini - halle{% endblock title %}

{% block sidebar %}
<nav
  id="sidebar-content"
  class="fixed left-0 top-0 flex h-screen w-64 flex-col justify-between rounded-lg bg-slate-800/5 pl-1 pr-2 backdrop-blur-lg"
>
  <ul class="">
    <div class="flex" id="company-logo">
      <a class="pt-6" id="company-icon" href="/">
        <img src="/assets/icon5.png" width="48" height="48" />
      </a>
      <a class="font flex-col pl-4 pt-8 font-semibold text-blue-700" href="/"
        ><span>halle</span></a
      >
    </div>

    <a
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-slate-200"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-slate-100 "
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-slate-100 "
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20 hover:text-slate-100 "
    >
      Articles
    </a>

    <a
      aria-pressed="true"
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:text-slate-300 aria-pressed:border-slate-200 aria-pressed:text-slate-300 aria-pressed:hover:text-slate-300"
    >
      History
    </a>
  </ul>
</nav>
{% endblock sidebar %}

{% block content %}
<div
  class="mt-4 grid aspect-auto size-full place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto text-2xl text-slate-200">
    There are currently no
    <span
      class="bg-violet-800 bg-gradient-to-bl from-blue-800 via-purple-800 bg-clip-text text-transparent selection:text-white"
      >history articles</span
    >. They're coming soon though 😪!!
  </div>
</div>
{% endblock content %}
