{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}halle - Discover and Explore the culture of the Wonderful Kingdom of Eswatini {% endblock title %}

{% block sidebar %}
    <a
      aria-pressed="true"
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-yellow-200 aria-pressed:text-slate-300 aria-pressed:hover:text-slate-200"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Articles
    </a>

    <a
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      History
    </a>
{% endblock sidebar %}

{% block sidebar2 %}
    <a
      aria-pressed="true"
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-yellow-200 aria-pressed:text-slate-300 aria-pressed:hover:text-slate-200"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Places
    </a>

    <a
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      Articles
    </a>

    <a
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-300/80 transition-colors delay-0 duration-200 ease-in-out hover:border-slate-800/15 hover:text-yellow-200 hover:bg-sky-600/20"
    >
      History
    </a>
{% endblock sidebar2 %}


{% block content %}
<div class="grid h-screen place-items-center" id="landing">
  <container
    class="mb-32 flex flex-col justify-center lg:mb-32 lg:-translate-x-12 lg:flex-row-reverse"
  >
    <div
      class="mx-2 mt-6 grid select-none grid-cols-4 gap-2 rounded-lg bg-slate-800/5 bg-gradient-to-b from-slate-700/5 via-slate-500/5 px-4 py-4 sm:mx-auto sm:mt-16 sm:w-5/12 sm:gap-3 sm:max-md:gap-2 lg:mx-0"
    >
      <div class="grid grid-rows-3 gap-2 pt-8 sm:gap-3 sm:max-md:gap-2">
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini00.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:bg-transparent hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini10.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="grid shadow-md shadow-slate-950 size-full place-items-center rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-opacity-30 hover:backdrop-blur-sm lg:hover:bg-transparent lg:hover:backdrop-blur-none"
          >
            <a
              href="/places"
              class="group grid aspect-square ring-2 ring-inset ring-sky-800 size-full place-items-end rounded-lg sm:max-md:hidden lg:hidden"
              ><h1
                class="mx-auto mb-6 size-fit border-b-2 border-b-sky-800 bg-sky-800 bg-gradient-to-bl from-blue-800 via-sky-800 bg-clip-text text-transparent selection:text-white"
              >
                Places
              </h1></a
            >
          </div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini20.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
      </div>
      <div class="grid grid-rows-3 gap-2 pb-8 sm:gap-3 sm:max-md:gap-2">
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini01.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="grid shadow-md shadow-slate-950 size-full place-items-center rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-opacity-30 hover:backdrop-blur-sm lg:hover:bg-transparent lg:hover:backdrop-blur-none"
          >
            <a
              href="/interests"
              class="group grid aspect-square ring-2 ring-inset ring-sky-800 size-full place-items-end rounded-lg sm:max-md:hidden lg:hidden"
              ><h1
                class="mx-auto mb-6 size-fit border-b-2 border-b-sky-800 bg-sky-800 bg-gradient-to-bl from-blue-800 via-sky-800 bg-clip-text text-transparent selection:text-white"
              >
                Interests
              </h1></a
            >
          </div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini11.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-opacity-75 bg-cover bg-center transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini21.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-gradient-to-tr from-violet-100/80 to-violet-100/70 to-95% bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-none hover:backdrop-blur-none"
          ></div>
        </div>
      </div>
      <div class="grid grid-rows-3 gap-2 pt-8 sm:gap-3 sm:max-md:gap-2">
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini02.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="grid shadow-md shadow-slate-950 size-full place-items-center rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-opacity-30 hover:backdrop-blur-sm lg:hover:bg-transparent lg:hover:backdrop-blur-none"
          >
            <a
              href="/articles"
              class="group grid aspect-square ring-2 ring-inset ring-sky-800 size-full place-items-end rounded-lg sm:max-md:hidden lg:hidden"
              ><h1
                class="mx-auto mb-6 size-fit border-b-2 border-b-sky-800 bg-sky-800 bg-gradient-to-bl from-blue-800 via-sky-800 bg-clip-text text-transparent selection:text-white"
              >
                Articles
              </h1></a
            >
          </div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini12.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-opacity-80 bg-cover bg-center transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini22.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
      </div>
      <div class="grid grid-rows-3 gap-2 pb-8 sm:gap-3 sm:max-md:gap-2">
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini03.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini13.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="grid shadow-md shadow-slate-950 size-full place-items-center rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-opacity-30 hover:backdrop-blur-sm lg:hover:bg-transparent lg:hover:backdrop-blur-none"
          >
            <a
              href="/history"
              class="group grid aspect-square ring-2 ring-inset ring-sky-800 size-full place-items-end rounded-lg sm:max-md:hidden lg:hidden"
              ><h1
                class="mx-auto mb-6 size-fit border-b-2 border-b-sky-800 bg-sky-800 bg-gradient-to-bl from-blue-800 via-sky-800 bg-clip-text text-transparent selection:text-white"
              >
                History
              </h1></a
            >
          </div>
        </div>
        <div
          class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini23.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
        >
          <div
            class="size-full rounded-lg bg-violet-100 bg-opacity-80 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
          ></div>
        </div>
      </div>
    </div>
    <section class="grid place-content-end pb-8 lg:w-4/12 lg:-translate-x-12">
      <h1
        class="pb-4 px-2 sm:pl-4 text-center text-3xl font-extrabold tracking-tight text-yellow-200"
      >
        Discover and explore the culture of the Wonderful
        <span
          class="animate-background-pan bg-gradient-to-tr from-violet-500 via-blue-500 to-violet-500 bg-clip-text text-transparent selection:text-white"
          >Kingdom of Eswatini.</span
        >
      </h1>
    </section>
  </container>
</div>

<a href="#scenery"
  ><button
    class="group absolute bottom-1 right-28 z-50 hidden h-14 w-14 translate-x-1/2 cursor-pointer items-center justify-center rounded-full border-none bg-teal-900/20 shadow-md outline-none ring-1 ring-inset ring-slate-700/15 transition-transform duration-300 ease-in-out hover:scale-105 hover:bg-teal-800/50 focus:scale-95 focus:bg-teal-600/60 sm:flex"
    id="nav-toggle"
    type="button"
  >
    <svg
      class="h-6 w-6 text-violet-500 group-focus:text-violet-300"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg></button
></a>

<nav
  class="mx-4 -mt-28 mb-8 flex h-80 flex-col gap-4 rounded-lg border-t-4 border-t-slate-800/30 bg-slate-800/5 bg-opacity-20 bg-gradient-to-b from-slate-700/5 via-slate-500/5 sm:hidden"
  id="scenery-sm"
>
  <a href="#scenery" class="relative">
    <h1
      class="ml-12 w-fit px-2 pb-2 pt-2 text-xl font-semibold uppercase text-slate-300"
    >
      Scenery
    </h1>
  </a>
  <div class="relative h-72 w-full overflow-hidden">
    <div
      class="absolute left-0 z-50 h-full w-8 bg-gradient-to-r from-[#0f172a] to-65%"
    ></div>
    <div
      class="animate-scroll-left animation-delay-i1 absolute left-[1152px] h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-scroll-left animation-delay-i2 absolute left-[1152px] h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/IMG_20181207_094241_039.jpg')] shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-scroll-left animation-delay-i3 absolute left-[1152px] h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="animate-scroll-left animation-delay-i4 absolute left-[1152px] h-64 w-72 rounded-lg bg-slate-500 bg-[url('Scenery/licensed-image.jpg')] shadow-md shadow-slate-950/20"
    ></div>
    <div
      class="absolute right-0 z-50 h-full w-8 bg-gradient-to-l from-[#0f172a] to-65%"
    ></div>
  </div>
</nav>

<nav
  class="mb-8 ml-1 mr-4 hidden sm:flex flex-col rounded-lg bg-slate-800/5 bg-opacity-20 bg-gradient-to-b from-slate-700/5 via-slate-500/5 sm:mx-4"
  id="scenery"
>
  <a href="#scenery" class="grid justify-items-end">
    <h1
      class="ml-8 mr-8 w-fit place-content-end px-2 pr-8 pt-2 text-xl font-semibold uppercase text-slate-300"
    >
      Scenery
    </h1>
  </a>
  <div
    class="m-auto grid w-full grid-cols-1 gap-2 p-4 px-3 py-4 md:gap-4 md:grid-cols-4"
  >
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] bg-cover shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 -translate-x-1 bg-[url('Scenery/IMG_20181207_094241_039.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 -translate-x-2 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 -translate-x-3 bg-[url('Scenery/licensed-image.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
  </div>
</nav>
{% endblock content %}
