{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}Interests - halle{% endblock title %}

{% block sidebar %}
    <a
      href="/"
      class="my-1 mt-8 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Home
    </a>

    <a
      href="/places"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Places
    </a>

    <a
      aria-pressed="true"
      href="/interests"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 px-2 py-3 pl-6 font-medium hover:text-slate-300 aria-pressed:border-slate-200 aria-pressed:text-slate-300 aria-pressed:hover:text-slate-300"
    >
      Interests
    </a>

    <a
      href="/articles"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      Articles
    </a>

    <a
      href="/history"
      class="my-1 block flex-col justify-center rounded-sm border-l-4 border-slate-600/90 px-2 py-3 pl-6 font-medium text-slate-400/90 transition-colors delay-0 duration-300 ease-in-out hover:border-slate-800/15 hover:bg-sky-600/20"
    >
      History
    </a>
{% endblock sidebar %}

{% block content %}
<div
  class="mt-4 grid aspect-auto size-full place-items-center rounded-sm bg-slate-500/5"
  id=""
>
  <div class="m-auto text-2xl text-slate-200">
    There are currently no
    <span
      class="bg-violet-800 bg-gradient-to-bl from-blue-800 via-purple-800 bg-clip-text text-transparent selection:text-white"
      >interests</span
    > to show. An update on that is cominig soon 😉!!
  </div>
</div>
{% endblock content %}
