{% extends "base.html" %}
<!-- prettier-ignore -->

{% block title %}AxumMain{% endblock title %}

{% block content %}
<container class="flex justify-center ">
  <div class="grid w-6/12 select-none grid-cols-4 gap-4 pb-12">
    <div class="grid translate-y-8 grid-rows-3 gap-4 py-8 pb-4">
      <div
        class="aspect-auto rounded-lg bg-[url('Flag/Flag_of_Eswatini00.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:bg-transparent hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-50 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini10.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-100 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini20.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-200 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
    </div>
    <div class="grid grid-rows-3 gap-4 py-8 pb-4">
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini01.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-300 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini11.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-400 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini21.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-300 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
    </div>
    <div class="grid translate-y-12 grid-rows-3 gap-4 py-8 pb-4">
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini02.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-50 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini12.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-opacity-75 bg-cover bg-center transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini22.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-200 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
    </div>
    <div class="grid translate-y-2 grid-rows-3 gap-4 py-8 pb-4">
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini03.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-300 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini13.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-400 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
      <div
        class="aspect-square rounded-lg bg-[url('Flag/Flag_of_Eswatini23.png')] bg-cover transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-800"
      >
        <div
          class="size-full rounded-lg bg-violet-300 bg-opacity-75 bg-cover bg-center backdrop-blur transition-colors duration-300 hover:bg-transparent hover:backdrop-blur-none"
        ></div>
      </div>
    </div>
  </div>
</container>

<h1 class="pb-4 text-center text-4xl font-extrabold tracking-tight text-white">
  Discover and explore the culture of the Wonderful
  <span class="">Kingdom of Eswatini.</span>
</h1>

<nav class="mt-8 flex flex-col" id="scenery">
  <a href="#scenery">
    <h1 class="ml-8 px-2 pt-2 text-xl font-semibold uppercase text-slate-200">
      Scenery
    </h1>
  </a>
  <div
    class="m-auto grid w-full grid-cols-5 gap-2 rounded-lg bg-slate-800/5 bg-opacity-20 bg-gradient-to-b from-slate-700/5 via-slate-500/5 p-4 px-3 py-4"
  >
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] bg-cover shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/IMG_20181207_094241_039.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/licensed-image.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
    <div
      class="aspect-square rounded-lg bg-slate-500 bg-[url('Scenery/2017-01-07.jpg')] shadow-md shadow-current transition-transform duration-300 hover:scale-105 hover:shadow-sm hover:shadow-current"
    ></div>
  </div>
</nav>
{% endblock content %}
